* {
    margin: 0px;
    padding: 0px;
}

.container {
    max-width: 90%;
    margin: 0 auto;
    padding: 1%;
}

table {
    max-width: 1200px;
    margin: 0 auto;
}

// .row {
//     border: 1px solid black;
//     .col-2,
//     .col-10 {
//         border: 1px solid black;
//         height: 800px;
//     }
// }

section {
    width: 25px;
    height: 25px;
    border: 1px solid black;
}

.vip {
    background-color: yellow;
}

.normal {
    background-color: pink;
}

.vip-choosed {
    background-color: greenyellow;
}

.normal-choosed {
    background-color: rgb(226, 122, 78);
}

.bought {
    background-color: red;
}

.information {
    background-color: rgb(157, 192, 236);
    margin-right: 1%;
}

.choose-date {
    background-color: rgb(157, 192, 236);
    margin-bottom: 1%;
}

.book-ticket-film {
    height: 800px;
}

.choose-film {
    background-color: rgb(157, 192, 236);
    margin-right: 1%;
    height: 800px;
}

.choose-chair {
    background-color: rgb(157, 192, 236);
    height: 800px;
    // margin: 1%;
}

.fix-margin {
    background-color: rgb(157, 192, 236);
}

.select-film {
    width: 98%;
    border-radius: 0.25rem;
}

h3 {
    text-align: center;
    color: red;
}

.Manchieu {
    border: 2px solid black;
    margin-top: 1%
}

input {
    border-radius: 0.25rem;
}

// .row {
//     border: 1px solid black;
//     height: 200px;
// }

// .col-7,
// .col-12 {
//     border: 1px solid black;
// }